body {
  margin: 1rem;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}
.dashboard__title {
  margin: 1rem;
  font-size: 2rem;
  font-weight: 100;
}

/* Badges */
.badge {
  display: flex;
  height: 5rem;
  margin: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  background-color: rgb(233, 242, 242);
}

.badge__name {
  margin: 1rem;
  font-weight: bold;
}

.badge__value-unit {
  margin: 1rem;
  white-space: nowrap;
}

.badge__unit {
  color: #969696;
}

/* BadgeLists */
.badge-list {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
  .badge-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .badge-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
