/* Badges */
.badge {
  display: flex;
  width: 15rem;
  height: 5rem;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  background-color: rgb(233, 242, 242);
}

.badge__name {
  margin: 1rem;
}

.badge__value-unit {
  margin: 1rem;
}

/* BadgeLists */
.badge-list {
  display: grid;
  grid-template-columns: repeat(4, 25fr);
  justify-items: center;
  align-items: center;
}
